body{ background-color: antiquewhite; margin: 0;}
#response { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
    letter-spacing: 0.1em;
    word-spacing: 0.25em;
}
button {  
    background-color: #008CBA; 
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
button:hover {
    background-color: rgb(0, 88, 117);
    color: white;
    }
button:hover span {
    padding-right: 25px;
    }
button:hover span:after {
    opacity: 1;
    right: 0;
    }